<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/static/css/forms.css">
</head>
<body>
    <h2>功能菜单</h2>
    <fieldset >
        <legend> 选择功能</legend>
        <button onclick = "window.location.href = '/add_header/'"> 添加headers</button>
        <button onclick = "window.location.href = '/add_suit/'"> 添加业务类型</button>
        <button onclick = "window.location.href = '/add_test/'"> 添加测试用例</button>
        <button onclick = "window.location.href = '/go_run/'"> 勾选运行</button>
    </fieldset>

</body>
</html>